*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}
nav{
  background: rgba(43, 95, 129, 0.842);
  height: 80px;
  width: 100%;
}
.header{
  color: white;
  font-size: 35px;
  line-height: 70px;
  padding: 0 100px;
  font-weight: bold;
  animation: color 5s infinite;
}
@keyframes color{
  0% {color: rgb(221, 18, 18)}
  25% {color: rgb(167, 21, 211)}
  50% {color: rgb(21, 47, 192)}
  75% {color: rgb(21, 192, 78)}
  100% {color: rgb(219, 208, 46)}
}

nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background:rgba(43, 95, 129, 0.493);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 80px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 150px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }

}
.container{
    margin: 80px auto;
    width:60%;
    padding:5px;
    
}
img{
    width: 450px;
    height:400px;
    padding: 0 10px 0 0;
    float: left;
}
text{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif
}
.container1{
  margin: 80px;
  padding:5px;
}
.image{
  width: 250px;
  height:250px;
  padding: 0 10px 0 0;
  float: right;
}
.conta{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif
}
form {
  display: grid;
  width: 400px;
  grid-template-columns: 50% 50%;
  align-items: center;
  grid-gap: 0.8em;
  }
.submit {
  grid-column: 2;
}
input[type="submit"] {
  border: 2px solid green;
  background-color: darkgreen;
  color: white;
}
.h1{
    font-size: 2em;
    font-weight: bold;
}
.column1{
  background: #0082e6;
  float: left;
  width: 33.3%;
  height: 550px;
}
.column2{
  background: #33d8f5;
  float: left;
  width: 33.3%;
  height: 550px;
}
.column3{
  background: #0082e6;
  float: left;
  width: 33.3%;
  height: 550px;
}
.footer{
background: white;      
}
.blog{  
  float: left;
  margin: 20px;
  margin-right: 35%;
}
.text3{
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
.csy1018 {
   width: 50%;
   display:block;
   margin: 5px;
  }
.csy1019 {
   width:50%;
   display: block;
   float: right;
   margin: 5px;

}
.csy1017 {
float:left;
width: 51%;
display:block;
margin: 5px;
}